
#sticky {
    /* padding: 0.5ex; */
    background-color: white;
    color: black;
    font-size: 1em;
    border-radius: 0.5ex;

    margin-left: -1em;


}
#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}



.navbar {
    background-color: #201B2F;
    color: white;
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border-radius: 0px;

}
.stay{

    width:100px;

    position: fixed;
    top: 0;
    left: 50%;

}

.dark{
    background: #201B2F;
    background: -webkit-linear-gradient(left, #631D39 , #201B2F,#631D39 );
    background: -o-linear-gradient(right,  #631D39 , #201B2F, #631D39);
    background: -moz-linear-gradient(right,  #631D39 , #201B2F, #631D39);
    background: linear-gradient(to right,  #631D39 , #201B2F, #631D39);
    color: white;
}
body {
    overflow:scroll;
}
.btn{
    background-color: white;
    color: black;
}
.btn.active{
    background-color: #D91052;
    color: white;
}
.btn-group>.btn.active {
      color:white;
  }
.btn-group>.btn {
    position: relative;
    float: left;
    color: black;
}
.key_black{
    width:5px;
    background-color: transparent;
    color:white;
}
.key_black.active.focus{
    width:5px;
    background-color: #D73E1F;
    color:white;
}

.key_white{
    width:5px;
    background-color: transparent;
    color:black;
}
.key_white.active.focus{
    width:5px;
    background-color: #D73E1F;
    color:white;
}
.fa-music{
    color: #D91052;
}

.panel-default > .panel-heading {
    color: white;
    background-color: #631D39;
    border-color: #631D39;
}
